.background-header,
header {
  background-color: #0c5e3f;
}

a,
.primary-link-color {
  color: #0c5e3f;
}

.episode-list--play i {
  background-color: #92ce00;
}

.social-nav svg {
  fill: #0c5e3f;
}

.background-header,
header {
  height: 220px;
}

footer {
  border-top: solid 4px #0c5e3f;
}

.newsletter .button {
  background-color: #0d5e3f !important;
  color: #f9fafb !important;
  border-radius: 5px;
  padding: 8px;
}

.newsletter #contact_email {
  margin-right: 10px !important;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .podcast-info__artwork {
    margin-top: -135px;
  }
}
