<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="keywords" content="django,python,coding,html,website,framework,code" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="apple-itunes-app" content="app-id=1735114591">

  <link type="application/rss+xml" rel="alternate" title="Django Brew"
    href="https://feeds.buzzsprout.com/2326928.rss" />

  <link rel="apple-touch-icon" href="{% static 'img/django-brew-logo.jpg' %}" />

  <link rel="canonical" href="https://www.djangobrew.com" />
  <link rel="image_src" href="{% static 'img/django-brew-logo.jpg' %}" />

  <title>Django Brew</title>
  <meta name="description"
    content="A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta Jadoonanan!" />

  <!-- Facebook Open Graph -->
  <meta property="og:site_name" content="DjangoBrew">
  <meta property="og:url" content="https://www.djangobrew.com/">
  <meta property="og:title" content="Django Brew">
  <meta property="og:description"
    content="A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta Jadoonanan!">
  <meta property="og:type" content="website">

  <meta property="og:image" content="{% static 'img/django-brew-logo.jpg' %}">
  <meta property="og:image:width" content="250">
  <meta property="og:image:height" content="250">

  <meta property="fb:app_id" content="58375489563">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@djangobrew">
  <meta name="twitter:title" content="Django Brew">
  <meta name="twitter:description"
    content="A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta Jadoonanan!">
  <meta name="twitter:image" content="{% static 'img/django-brew-logo-large.jpg' %}">

  <link rel="shortcut icon" href="{% static 'img/django-brew-logo.jpg' %}">

  <link rel="stylesheet" href="{% static 'css/buzzsprout.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind-3.3.5.css' %}" />

  <style type="text/css">
    .background-header,
    header {
      background-color: #0c5e3f;
    }

    a,
    .primary-link-color {
      color: #0c5e3f;
    }

    .episode-list--play i {
      background-color: #92ce00;
    }

    .social-nav svg {
      fill: #0c5e3f;
    }

    .background-header,
    header {
      height: 220px;
    }
  </style>

  {% if !DEBUG %}
  <script defer data-domain="djangobrew.com" src="https://plausible.io/js/script.js"></script>
  {% endif %}
</head>

<body class="podcast">

  {% include '_header.html' %}

  <div class="container">
    <div class="podcast-info flex gap-11">
      <div class="podcast-info__artwork basis-[300px] grow-0 shrink-0">
        <div class="podcast-info__artwork--image img-loading w-fit max-w-[300px]">
          <a href="/">
            <img alt="Django Brew Podcast Logo" loading="lazy" class="rounded-lg"
              src="{% static 'img/django-brew-logo.jpg' %}" />
          </a>
        </div>
      </div>

      <div class="podcast-info__details grow">
        <h1 class="podcast-info__title font-extrabold leading-tight">
          Django Brew
        </h1>

        <h2 class="podcast-info__artist text-gray-500">
          Sangeeta Jadoonanan &amp; Adam Hill
        </h2>

        <div class="podcast-info__description">
          <p>A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta
            Jadoonanan!</p>
        </div>

        <div class="episode__share podcast-info__listen">
          <div class="listing__container">
            <a class="listen__item listen__item--rss" rel="noopener"
              href="https://feeds.buzzsprout.com/2326928.rss">RSS</a>
            <a class="listen__item listen__item--apple" rel="noopener"
              href="https://podcasts.apple.com/us/podcast/django-brew/id1735114591">Apple Podcasts</a>
            <a class="listen__item listen__item--spotify" rel="noopener"
              href="https://open.spotify.com/show/0CsNsFFmeUHUdm5W2rE11z">Spotify</a>
            <a class="listen__item listen__item--amazon" rel="noopener"
              href="https://music.amazon.com/podcasts/2cbb2aeb-208a-4c55-ad67-74d1e71a9e7a">Amazon
              Music</a>
            <a class="listen__item listen__item--podcastindex" rel="noopener"
              href="https://podcastindex.org/podcast/6824856">Podcast Index</a>
            <a class="listen__item listen__item--overcast" rel="noopener"
              href="https://overcast.fm/itunes1735114591">Overcast</a>
            <a class="listen__item listen__item--youtube" rel="noopener"
              href="https://www.youtube.com/playlist?list=PLNPF9ss1bBcdnDyPrB1qIXDr2mMXQS02L">YouTube</a>
            <a class="listen__item listen__item--iheartradio" rel="noopener"
              href="https://www.iheart.com/podcast/269-django-brew-157644786/">iHeartRadio</a>
          </div>
        </div>
      </div>
    </div><!-- /podcast info -->

    {% block content %}{% endblock content %}
  </div><!-- /container -->

  <footer id="footer" class="md:max-w-3xl mx-auto">
    All content © 2024 Django Brew
  </footer>

</body>

</html>