<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="keywords" content="django,python,coding,html,website,framework,code" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="apple-itunes-app" content="app-id=1735114591">

  <link type="application/rss+xml" rel="alternate" title="Django Brew"
    href="https://feeds.buzzsprout.com/2326928.rss" />

  <link rel="apple-touch-icon" href="{% static 'img/django-brew-logo.jpg' %}" />

  <link rel="canonical" href="https://www.djangobrew.com" />
  <link rel="image_src" href="{% static 'img/django-brew-logo.jpg' %}" />

  <title>Django Brew</title>
  <meta name="description"
    content="A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta Jadoonanan!" />

  <!-- Facebook Open Graph -->
  <meta property="og:site_name" content="DjangoBrew">
  <meta property="og:url" content="https://www.djangobrew.com/">
  <meta property="og:title" content="Django Brew">
  <meta property="og:description"
    content="A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta Jadoonanan!">
  <meta property="og:type" content="website">

  <meta property="og:image" content="{% static 'img/django-brew-logo.jpg' %}">
  <meta property="og:image:width" content="250">
  <meta property="og:image:height" content="250">

  <meta property="fb:app_id" content="58375489563">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@djangobrew">
  <meta name="twitter:title" content="Django Brew">
  <meta name="twitter:description"
    content="A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta Jadoonanan!">
  <meta name="twitter:image" content="{% static 'img/django-brew-logo-large.jpg' %}">

  <link rel="shortcut icon" href="{% static 'img/django-brew-favicon.png' %}">

  <link rel="stylesheet" href="{% static 'css/buzzsprout.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind-3.3.5.css' %}" />
  <link rel="stylesheet" href="{% static 'css/djangobrew.css' %}" />

  <script src="https://unpkg.com/dorkjs@latest"></script>

  {% if not DEBUG %}
  <script defer data-domain="djangobrew.com" src="https://plausible.io/js/script.js"></script>
  {% endif %}
</head>

<body class="podcast episode">

  {% include '_header.html' %}

  <div class="container" style="min-height: 50vh;">
    <div class="podcast-info text-center md:text-left flex gap-11">
      <div class="podcast-info__artwork flex md:block justify-center md:justify-normal basis-[300px] grow-0 shrink-0">
        <div class="podcast-info__artwork--image img-loading w-fit max-w-[300px]">
          <a href="/">
            <img alt="Django Brew Podcast Logo" loading="lazy" class="rounded-lg"
              src="{% static 'img/django-brew-logo.jpg' %}" />
          </a>
        </div>
      </div>

      <div class="podcast-info__details grow">
        <h1 class="podcast-info__title font-extrabold leading-tight">
          Django Brew
        </h1>

        <h2 class="podcast-info__artist text-gray-500">
          Sangeeta Jadoonanan &amp; Adam Hill
        </h2>

        <div class="podcast-info__description">
          <p>A fun, caffeine-powered podcast about the Django web framework by Adam Hill and Sangeeta
            Jadoonanan!</p>
        </div>

        <div class="episode__share podcast-info__listen">
          <div class="listing__container">
            <a class="listen__item listen__item--rss" target="_blank" rel="noopener"
              href="https://feeds.buzzsprout.com/2326928.rss">RSS Feed</a>
            <a class="listen__item listen__item--apple" target="_blank" rel="noopener"
              href="https://podcasts.apple.com/us/podcast/django-brew/id1735114591">Apple Podcasts</a>
            <a class="listen__item listen__item--spotify" target="_blank" rel="noopener"
              href="https://open.spotify.com/show/0CsNsFFmeUHUdm5W2rE11z">Spotify</a>
            <a class="listen__item listen__item--amazon" target="_blank" rel="noopener"
              href="https://music.amazon.com/podcasts/2cbb2aeb-208a-4c55-ad67-74d1e71a9e7a">Amazon Music</a>
            <a class="listen__item listen__item--podcastindex" target="_blank" rel="noopener"
              href="https://podcastindex.org/podcast/6824856">Podcast Index</a>
            <a class="listen__item listen__item--overcast" target="_blank" rel="noopener"
              href="https://overcast.fm/itunes1735114591">Overcast</a>
            <a class="listen__item listen__item--youtube" target="_blank" rel="noopener"
              href="https://www.youtube.com/playlist?list=PLNPF9ss1bBcdnDyPrB1qIXDr2mMXQS02L">YouTube</a>
            <a class="listen__item listen__item--iheartradio" target="_blank" rel="noopener"
              href="https://www.iheart.com/podcast/269-django-brew-157644786/">iHeartRadio</a>

            <div id="hidden-providers" class="hidden">
              <a class="listen__item listen__item--podcastaddict" target="_blank" rel="noopener"
                href="https://podcastaddict.com/podcast/django-brew/5000636">Podcast Addict</a>
              <a class="listen__item listen__item--castro" target="_blank" rel="noopener"
                href="https://castro.fm/itunes/1735114591">Castro</a>
              <a class="listen__item listen__item--castbox" target="_blank" rel="noopener"
                href="https://castbox.fm/vic/1735114591?ref=buzzsprout">Castbox</a>
              <a class="listen__item listen__item--podchaser" target="_blank" rel="noopener"
                href="https://www.podchaser.com/podcasts/django-brew-5647345">Podchaser</a>
              <a class="listen__item listen__item--pocketcasts" target="_blank" rel="noopener"
                href="https://pca.st/74hl7idl">Pocket Casts</a>
              <a class="listen__item listen__item--deezer" target="_blank" rel="noopener"
                href="https://www.deezer.com/show/1000752252">Deezer</a>
              <a class="listen__item listen__item--listennotes" target="_blank" rel="noopener"
                href="https://www.listennotes.com/c/72b2dd1e5a6f4cae8a0752300d724a22/">Listen Notes</a>
              <a class="listen__item listen__item--playerfm" target="_blank" rel="noopener"
                href="https://player.fm/series/series-3556643">Player FM</a>
              <a class="listen__item listen__item--goodpods" target="_blank" rel="noopener"
                href="https://www.goodpods.com/podcasts-aid/1735114591">Goodpods</a>
              <a class="listen__item listen__item--podfriend" target="_blank" rel="noopener"
                href="https://web.podfriend.com/podcast/1735114591">Podfriend</a>
            </div>

            <a id="revealPodcasts" class="listen__item--more listen__item--small" data-listing-target="revealButton"
              data-toggle-modal="#listings-modal" href="#">+</a>
          </div>
        </div><!-- /podcast-info__listen -->
      </div>
    </div><!-- /podcast info -->

    {% block content %}{% endblock content %}

    {% include '_newsletter.html' %}

  </div><!-- /container -->

  <footer class="mt-20 text-black bg-gray-50 text-lg pb-4">
    <div
      class="pt-8 md:pt-12 pb-8 pl-4 pr-4 grid grid-cols-1 md:grid-cols-3 place-items-center items-start gap-8 md:gap-0">
      <div>
        <p class="text-2xl md:text-xl font-bold text-center">
          Projects
        </p>
        <ul>
          <li>
            🦄 <a href="https://djangostickers.com">djangostickers.com</a>
          </li>
          <li>
            📓 <a href="https://alldjango.com">alldjango.com</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="text-2xl md:text-xl font-bold text-center">
          Sites
        </p>
        <ul>
          <li>
            ⭐️ <a href="https://sangeeta.io">sangeeta.io</a>
          </li>
          <li>
            ⭐️ <a href="https://adamghill.com">adamghill.com</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="text-2xl md:text-xl font-bold text-center">
          Colophon
        </p>
        <ul>
          <li>
            🎶 <a href="https://coltrane.readthedocs.io">Coltrane</a>
          </li>
          <li>
            💨 <a href="https://tailwindcss.com">Tailwind</a>
          </li>
          <li>
            🎙️ <a href="https://www.buzzsprout.com">Buzzsprout</a>
          </li>
          <li>
            ☕️ <a href="https://www.cafebustelo.com">Café Bustelo</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="text-center">
      All content © 2024 Django Brew
    </p>
  </footer>

  <script>
    dork.onload((...[, , $]) => {
      $.listen("#revealPodcasts", "click", (_, el) => {
        const hiddenProviders = $.$("#hidden-providers");

        if ($.inner(el) === "+") {
          $.inner(el, "-");
          hiddenProviders.classList.remove("hidden");
        } else {
          $.inner(el, "+");
          hiddenProviders.classList.add("hidden");
        }
      }, true);
    })
  </script>

</body>

</html>