{% extends 'base.html' %}

{% block content %}

<div>
  <div id='buzzsprout-large-player'></div>
  <script type='text/javascript' charset='utf-8'
    src='https://www.buzzsprout.com/2326928.js?container_id=buzzsprout-large-player&player=large'></script>
</div><!-- podcast player -->

<div class="pt-8">
  <h2 class="font-extrabold pb-4 text-2xl">
    Other Projects
  </h2>

  <ul>
    <li>
      ⭐️ <a href="https://djangostickers.com">djangostickers.com</a>: quirky stickers starring your favorite
      anthropomorphic pony
    </li>
  </ul>
</div>

{% endblock content %}