<p>
    Check out more episodes at <a href="https://djangobrew.com/">djangobrew.com</a>! ☕️
</p>

<p>
    Please give us 5 stars and a review anywhere you get your podcasts! (Unless you don't think we deserve 5 stars, in
    which case, you can keep your opinions to yourself!) ⭐️⭐️⭐️⭐️⭐️
</p>

<p>
    <strong>See what's brewing!</strong><br />
    👉 Follow <a href="https://fosstodon.org/@sjbitcode">Sangeeta</a> and <a
        href="https://indieweb.social/@adamghill">Adam</a> on Mastodon if you can't get enough of
    our sparkling personalities! ✨
    <br />
    👉 Follow <a href="https://fosstodon.org/@djangobrew">@DjangoBrew</a> on Mastodon to get the latest updates! ✨
</p>

<p>
    The intro and outro music provided by <a
        href="https://pixabay.com/music/motown-old-school-rnb-retro-funk-energetic-background-music-136122/">Pixabay</a>
    🎶
</p>