{% extends 'base.html' %}

{% block content %}
<div class="host-list">

    <div class="host-list__row flex flex-align-center">
        <i>
            <img alt="Sangeeta" src="{% static 'img/sangeeta.jpg' %}">
        </i>

        <div>
            <p class="font-bold">
                Sangeeta
            </p>

            <p>
                Sangeeta is a Pythonista who debugs her code with nothing but pure espresso shots and rubber
                duckies. When she's not building sites with Django, you can find her running a 5k, making cute
                stickers, or rewatching the Battle of Winterfell.
            </p>

            <ul class="mt-4">
                <li>
                    💬&nbsp;&nbsp;<a href="https://fosstodon.org/@sjbitcode">Mastodon</a>
                </li>
                <li>
                    🏠&nbsp;&nbsp;<a href="https://sangeeta.io">Site</a>
                </li>
                <li>
                    🔧&nbsp;&nbsp;<a href="https://github.com/sjbitcode">GitHub</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="host-list__row flex flex-align-center">
        <i>
            <img alt="Adam" src="{% static 'img/adam.jpg' %}">
        </i>

        <div>
            <p class="font-bold">
                Adam
            </p>

            <p>
                Adam has been deploying websites made with Django to production for over 10 years, but who's
                counting. Chronic starter of new projects, sometimes creator of open-source libraries, and lover
                of coffee.
            </p>

            <ul class="mt-4">
                <li>
                    💬&nbsp;&nbsp;<a href="https://indieweb.social.com/@adamghill">Mastodon</a>
                </li>
                <li>
                    🏠&nbsp;&nbsp;<a href="https://adamghill.com">Site</a>
                </li>
                <li>
                    🔧&nbsp;&nbsp;<a href="https://github.com/adamghill">GitHub</a>
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock content %}