{% extends 'base.html' %}

{% block content %}

{% get_episodes as episodes %}

{% if episodes %}
<h2 class="font-extrabold text-2xl py-4">
  Latest Episode
</h2>

{% with episodes.0 as last_episode %}
<div id="buzzsprout-player-{{ last_episode.id }}"></div>
<script src="{{ last_episode.player_url }}?container_id=buzzsprout-player-{{ last_episode.identifier }}&player=small"
  type="text/javascript" charset="utf-8"></script>

<div class="episode__share flex flex-justify-between justify-end">
  <div class="episode__share-column--small">
    <div class="episode__share--title">Share Episode</div>

    <div class="share__container">
      <a class="share__item share__item--facebook" title="Share on Facebook"
        href="http://www.facebook.com/sharer.php?u=https://www.djangobrew.com/2326928/14648511">Share on
        Facebook</a>
      <a class="share__item share__item--twitter" title="Share on Twitter"
        href="http://twitter.com/intent/tweet?text=Listening+to+%22Episode+0%3A+Intros%2C+memes%2C+and+tater-tots%22+at+&amp;url=https%3A%2F%2Fwww.djangobrew.com%2F2326928%2F14648511">Share
        on Twitter</a>
      <a class="share__item share__item--linkedin" title="Share on LinkedIn"
        href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fwww.djangobrew.com%2F2326928%2F14648511-episode-0-intros-memes-and-tater-tots">Share
        on LinkedIn</a>
    </div>
  </div>
</div>
{% endwith %}

<h2 class="font-extrabold text-2xl py-4">
  All Episodes
</h2>

<div class="episode-list__container">
  <div class="episode-list">
    <div class="episode__nav"></div>

    {% for episode in episodes %}
    <span class="episode-list__row">
      <a href="/episodes/{{ episode.id }}-{{ episode.title|slugify }}" class="episode-list--link flex flex-mobile">
        <div class="episode-list--title font-extrabold leading-tight">
          <span>{{ episode.title }}</span>
          <small>{{ episode.published_at|date:'N d, Y'  }}</small>
        </div>
      </a>
    </span>
    {% endfor %}

  </div>
</div>
{% else %}
No episode could be found.
{% endif %}

{% endblock content %}